{% extends "base.html" %}
{% block left %}
<div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">最新文章</a>
            <div class="col-2">
            </div>
            <div class="col-12">
                {% for i in art %}
                <ul class="list-group list-group-flush">
                    <a class="list-group-item" href="/detail?id={{i.id}}">{{ i.title }}</a>
                </ul>
                {% endfor %}
            </div>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">个人分类</a>
            <div class="col-2">
            </div>
            <div class="col-12">
                <ul class="list-group list-group-flush">
                    <a class="list-group-item">PHP</a>
                    <a class="list-group-item">JAVA</a>
                    <a class="list-group-item">Angularjs</a>
                    <a class="list-group-item">Django</a>
                    <a class="list-group-item">其他</a>
                </ul>
            </div>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">归档</a>
            <div class="col-2">
            </div>
            <div class="col-12">
                <ul class="list-group list-group-flush">
                    <a class="list-group-item">Cras justo odio</a>
                    <a class="list-group-item">Dapibus ac facilisis in</a>
                    <a class="list-group-item">Morbi leo risus</a>
                    <a class="list-group-item">Porta ac consectetur ac</a>
                    <a class="list-group-item">Vestibulum at eros</a>
                </ul>
            </div>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">最新评论</a>
            <div class="col-2">
            </div>
            <div class="col-12">
                <ul class="list-group list-group-flush">
                    <a class="list-group-item">Cras justo odio</a>
                    <a class="list-group-item">Dapibus ac facilisis in</a>
                    <a class="list-group-item">Morbi leo risus</a>
                    <a class="list-group-item">Porta ac consectetur ac</a>
                    <a class="list-group-item">Vestibulum at eros</a>
                </ul>
            </div>
    </div>
</div>       
{% endblock left %}
{% block sm9 %}
<div class="col-sm-9">
    <h3>标题：{{ bd.title }}</h3>
    <div>作者：{{ bd.autho }}</div>
    <span>{{ bd.body }}</span>
    <br>
    <br>
    <form action="/detail?id={{bd.id}}" method="POST">
        <br>
        <label for="exampleInputEmail1"><h6>评论区</h6></label>
        {% for  in  %}
        
        {% endfor %}
        <div>
            
        </div>
        <div class="form-group">
            <textarea style = 'width:1000px' class="form-control" name="comment" rows="3" placeholder="评论"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form> 
</div>

{% endblock sm9 %}
