{% extends "base.html" %}
{% block sm9 %}
<div class="col-sm-9">
    <div class="card">
        <img class="card-img-top" height='200px' src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=4159551931,1288957123&fm=26&gp=0.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" height='200px' src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=4159551931,1288957123&fm=26&gp=0.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
{% endblock sm9 %}