{% extends "base.html" %}
<style>
    .table{
        width:1000px;
        font-size:20px;  
    }
    .tr{
        width:400px;
        background-color:#d0e4fe;      
    }
    .th,td{
        padding: 10px;
        font-size: 14px;
    }
</style>

{% block sm9 %}
<div class="col-sm-9">
    <table class="table">
        <tr class="tr">          
            <td class="th,td"><a href="/add/" class="addlink">写博客</a></td>
        </tr>
        <tr class="tr">
            <td><a style="color:rgba(10, 5, 5, 0.5)" href="/myviews/" name='tetail'>
                {% for a in tt%}
                <li>{{a.title}}</li>
                {% endfor %}
            </a></td>  
        </tr>
    </table>
</div>

{% endblock sm9 %}